<a class="nav-link dropdown-indicator" href="#email" role="button" data-bs-toggle="collapse" aria-expanded="false"
    aria-controls="email">
    <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                class="fas fa-envelope-open"></span></span><span class="nav-link-text ps-1">Inventory</span>
    </div>
</a>
<ul class="nav collapse" id="email">
    <li class="nav-item"><a class="nav-link" href="{{url('products')}}">
            <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Product</span>
            </div>
        </a>
        <!-- more inner pages-->
    </li>
    <li class="nav-item"><a class="nav-link" href="app/email/email-detail.html">
            <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Email detail</span>
            </div>
        </a>
        <!-- more inner pages-->
    </li>
    <li class="nav-item"><a class="nav-link" href="app/email/compose.html">
            <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Compose</span>
            </div>
        </a>
        <!-- more inner pages-->
    </li>
</ul>